/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@font-face {
  font-family: 'BebasNeueBold';
  src: url('../assets/fonts/BebasNeueBold.ttf') format('truetype'),
    url('../assets/fonts/BebasNeueBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.svg {
  width: 14px;
  margin-left: 6px;
}

* {
  box-sizing: border-box;
}

.red {
  background-color: #ea0029cc;
}

.current {
  background-color: #FFFFFF80;
}
