/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/BebasNeueBold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.svg {
  width: 14px;
  margin-left: 6px;
}

.game-text {
  font-family: 'Bebas Neue';
  line-height: 1;
}

.red {
  background-color: #ea0029cc;
}

.current {
  background-color: #ffffff80;
}
